# Python cache
__pycache__/
*.pyc

# Environment
.env
venv/
*.pem
venv/
.venv/

# Logs, temp files
*.log
*.png

# Earthquake state tracking
chat_ids.txt
last_*.txt
broadcasted_quakes.txt
data/

# OS/Editor stuff
.DS_Store
.vscode
