# Python cache
__pycache__/
*.pyc

# Environment
.env
venv/
*.pem
venv/
.venv/
*.sh
*.txt

# Logs, temp files
*.log
*.png
status.json

# Earthquake state tracking
copy_DB.py

# OS/Editor stuff
.DS_Store
.vscode
